<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleSafari.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDB848541C851ABA00FEEBAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB848681C851ABA00FEEBAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB848731C851ABA00FEEBAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
